@model IEnumerable<abcShop.DataModel.product_tbl>


    @{
        ViewBag.Title = "Brand";
    }


    <section id="content">
        <div class="container">
            @*@if (ViewBag.baner != null)
                    {
                        <div class="shop-banner banner-adv line-scale zoom-image">
                            <a href="javascripts.void(0)" class="adv-thumb-link"><img src="@ViewBag.baner " style="max-width:100%; height: auto;" /></a>
                            <div class="banner-info">
                                <h2 class="title30 color">
                                    @if (Session["siteName"] != null)
                                    {@Session["siteName"].ToString()}
                            </h2>
                            <div class="bread-crumb white">
                                <a href="/product/findbyCat/@ViewBag.catID" class="white">@ViewBag.catName</a>
                            </div>
                        </div>
                    </div>
                }*@
            <!-- ENd Banner -->
            <div class="content-shop">

                <!--/End Varint Section-->
                <!--This is Product section-->
                <div class="container">
                    <div class="main-content-shop">

                        <div class="product-grid-view">
                            <div class="row">
                               
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <form id="cartForm">
                                            <div class="col-md-3 col-sm-4 col-xs-6">

                                                <div class="item-product item-product-grid text-center">

                                                    <div class="product-thumb">

                                                        <input type="hidden" name="product_id" value=" @Html.DisplayFor(modelItem => item.product_id)" />
                                                        <input type="hidden" name="quentity" value="1" />
                                                        <a href="/product/detail/@item.product_id" class="product-thumb-link rotate-thumb">


                                                            <img src="@ViewBag.proImg@item.main_image">
                                                            <img src="@ViewBag.proImg@item.main_image">

                                                        </a>

                                                        <a href="/categorys/quickview/@item.product_id" class="quickview-link fancybox fancybox.iframe"><i class="fa fa-search" aria-hidden="true"></i></a>

                                                    </div>
                                                    <div class="product-info">

                                                        <h3 class="product-title"><a href="/product/detail/@item.product_id">@item.p_name</a></h3>
                                                        <div class="product-price">

                                                            <ins class="color">৳ <span>@item.price</span></ins>

                                                        </div>
                                                        <div class="product-rate">

                                                            <div class="product-rating" style="width:100%"></div>

                                                        </div>
                                                        <div class="product-extra-link">


                                                            <a href="javascript:void(0)" class="addcart-link" onclick="addCarts(@item.product_id)">Add to cart</a>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </form>
                                    }

                                }
                                else
                                {

                                    <div class="alert">
                                        <h4 class="alert alert-danger">No Such Product Found !</h4>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>

                <!--/end product section-->
            </div>
        </div>
        <!-- End Content Shop -->

    </section>



    @section scripts{

        <script>


        //get url value and save

        var url = $(location).attr('href');
        var get_url = new URL(url);
        var c = get_url.searchParams.get('s');
        $('#s').val(c);


var vr = [];
var s = "";
function varint(id) {
    var i = 1;
    var pro = "";

    //debugger
    var flag = false;
    $.each(vr, function (index, v) {
        if (v == id) {
            vr.splice(index, 1);
            flag = true;

        }
    })

    if (!flag) {
        vr.push(id);

    }

    if (vr.length == 0) {

        i--;

        if (i == 0) {
            window.location.reload();
        }

        $("#lazy").empty();
    }

    //conert varint array in json
    s = JSON.stringify(vr);

    $.ajax({
        url: '/categorys/byVariant',
        type: 'post',
        data: { vr: s },
        success: function (result) {


            $.each(result.list, function (index, value) {
                pro += "<form id='cartForm'><div class='col-md-4 col-sm-6 col-xs-6'>" +
                    "<div class='item-product item-product-grid text-center'>" +
                    "<div class='product-thumb'>" +
                    "<input type='hidden' name='product_id' value='" + value.product_id + "' /><input type='hidden' name='quentity' value='1' />" +
                    "<a href='/product/detail/" + value.product_id + "' class='product-thumb-link rotate-thumb'>" +
                    "<img src='@ViewBag.proImg" + value.main_image + "' >" +
                    "<img src='@ViewBag.proImg" + value.main_image + "'>" +
                    "</a>" +
                    //"<a style='cursor:pointer' onclick='quckView(" + value.product_id + ")' class='quickview-link'><i class='fa fa-search' aria-hidden='true'></i></a>" +
                    "<a href='/categorys/quickview/" + value.product_id + "' class='quickview-link fancybox fancybox.iframe'><i class='fa fa-search' aria-hidden='true'></i></a>" +
                    "</div>" +
                    "<div class='product-info'>" +
                    "<h3 class='product-title'><a href='/product/detail/" + value.product_id + "'>" + value.p_name + "</a></h3>" +
                    "<div class='product-price'>" +
                    "<ins class='color'>৳ <span>" + value.price + "</span></ins>" +
                    "</div>" +
                    "<div class='product-rate'>" +
                    "<div class='product-rating' style='width:100%'></div>" +
                    "</div>" +
                    "<div class='product-extra-link'>" +

                    "<a href='javascript:void(0)' class='addcart-link'  onclick='addCarts(" + value.product_id + ")'>Add to cart</a>" +
                    "</div>" +
                    "</div>" +
                    "</div>" +
                    "</div></form>";
            });

            $("#lazy").html(pro);
            $('body').append("<script type='text/javascript' src='/forntEnd/js/theme.js'><\/script>");
            //$('body').append("<script type='text/javascript' src='/forntEnd/js/app.js'><\/script>");
        },
        error: function () {
            alert("Thare are some error");
        }
    });
}//end virant



var maxa = 0;
var mina = 0;


//Filter Price
if ($('.range-filter').length > 0) {

    $('.range-filter').each(function () {
        $(this).find(".slider-range").slider({
            range: true,
            min: 0,
            max: 800,
            values: [50, 545],
            slide: function (event, ui) {
                $(this).parents('.range-filter').find(".amount").html('<span>' + 'Price: $' + ui.values[0] + '</span>' + '<span>' + ' - $' + ui.values[1] + '</span>');
                maxa = ui.values[1];
                mina = ui.values[0];

            }
        });
        $(this).find(".amount").html('<span>' + 'Price: $' + $(this).find(".slider-range").slider("values", 0) + '</span>' + '<span>' + ' - $' + $(this).find(".slider-range").slider("values", 1) + '</span>');
    });
}


//this funtion pass the price max or minimum pvvIDs caegorys

function varintSearce() {
    filterProduct(this.maxa, this.mina, s, @ViewBag.catID);
}

function filterProduct(maxa, mina, pvv, catID) {
    var pro = "";
    $.ajax({
        url: '/categorys/filterProduct',
        data: { max: maxa, min: mina, pvv: pvv, cid: catID },
        type: 'post',
        success: function (result) {
            $("#lazy").empty();

            $.each(result.list, function (index, value) {
                pro += "<form id='cartForm'><div class='col-md-4 col-sm-6 col-xs-6'>" +
                    "<div class='item-product item-product-grid text-center'>" +
                    "<div class='product-thumb'>" +
                    "<input type='hidden' name='product_id' value='" + value.product_id + "' /><input type='hidden' name='quentity' value='1' />" +
                    "<a href='/product/detail/" + value.product_id + "' class='product-thumb-link rotate-thumb'>" +
                    "<img src='@ViewBag.proImg" + value.main_image + "' >" +
                    "<img src='@ViewBag.proImg" + value.main_image + "'>" +
                    "</a>" +
                    //"<a style='cursor:pointer' onclick='quckView(" + value.product_id + ")' class='quickview-link'><i class='fa fa-search' aria-hidden='true'></i></a>" +
                    "<a href='/categorys/quickview/" + value.product_id + "' class='quickview-link fancybox fancybox.iframe'><i class='fa fa-search' aria-hidden='true'></i></a>" +
                    "</div>" +
                    "<div class='product-info'>" +
                    "<h3 class='product-title'><a href='/product/detail/" + value.product_id + "'>" + value.p_name + "</a></h3>" +
                    "<div class='product-price'>" +
                    "<ins class='color'>৳ <span>" + value.price + "</span></ins>" +
                    "</div>" +
                    "<div class='product-rate'>" +
                    "<div class='product-rating' style='width:100%'></div>" +
                    "</div>" +
                    "<div class='product-extra-link'>" +

                    "<a href='javascript:void(0)' class='addcart-link'  onclick='addCarts(" + value.product_id + ")'>Add to cart</a>" +
                    "</div>" +
                    "</div>" +
                    "</div>" +
                    "</div></form>";

            });

            $("#lazy").html(pro);
            $('body').append("<script type='text/javascript' src='/forntEnd/js/theme.js'><\/script>");
            //$('body').append("<script type='text/javascript' src='/forntEnd/js/app.js'><\/script>");
        },
        error: function () {
            alert("Thare are some error");
        }
    })
    //console.log(this.maxa, this.mina, pvv, catID);
}
        </script>

    }




